table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.mytext {
    width: 50%;
    height: 50px;
    float: left;
    border: 1px solid black;
    word-wrap: break-word;
    word-break: break-all;
}
